@import "./mixins";
@import "./variables";

html {
  @include reset;
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-size: 18px;
  font-family: "Athiti", sans-serif;
}

.container {
  width: $layout-width;
  display: block;
  margin: 0 auto;
  position: relative;
}

.btn {
  @include btn;
}

.page-title {
  margin-bottom: 20px;
}
