@import "./mixins";
@import "./variables";

html {
  @include reset;
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-size: 18px;
  font-family: "Athiti", sans-serif;
}

.container {
  width: $layout-width;
  display: block;
  margin: 0 auto;
  position: relative;
}

.btn {
  @include btn;
}

.btn-default {
  background-color: $link-color;
  &:hover {
    background-color: $link-hover-color;
  }
  &:disabled {
    background-color: lighten($link-color, 15%);
    cursor: not-allowed;
  }
}

.btn-accent {
  background-color: $accent-color;
  color: #ffffff;
  font-weight: 600;
  &:hover {
    background-color: $link-hover-color;
  }
  &:disabled {
    background-color: lighten($link-color, 15%);
    cursor: not-allowed;
  }
}

.btn-control {
  background-color: $link-color;
  &:hover {
    background-color: $link-hover-color;
  }
  &:disabled {
    background-color: lighten($link-color, 15%);
    cursor: not-allowed;
  }
}

.page-title,
.section-title {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"]  {
  height: 35px;
  border-radius: 0;
  border: 1px solid $input-border-color;
}
